{% extends 'base_layout.html' %}
{% load humanize %}

{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">

            <div class="sk-chase htmx-indicator" id="spinner"  >
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
              </div>


        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                <form id="paymentForm" >
                    <div class="row" >
                                {% if delivery_details %}
                                        <!-- Card column -->
                                        <div class="delivery-info">
                                            <form method="post" id="deliveryInfoForm" onsubmit="return validateForm()">
                                                {% csrf_token %}
                                                    {% for detail in delivery_details %}
                                
                                                        <div class="col-lg-6 col-md-12" style="box-shadow:black;">
                                                            <div class="card h-100">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Billing Information-{{detail.pk}}</h5>
                                                                <p class="card-text">{{detail.first_name}} {{detail.last_name}}<br>{{detail.street_address}}<br>{{detail.city}}, {{detail.state}}<br>Nigeria</p>
                                                                <!-- Checkbox field for choice -->
                                                                <div class="form-check float-right">
                                
                                                                    <input class="form-check-input choice-checkbox" value="{{detail.id}}" name="delivery_info" type="checkbox" id="delivery_info{{ detail.id }}" {% if forloop.first %} checked {% endif %}>
                                                                    <label class="form-check-label" for="checkbox"></label>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                
                                                    
                                                    {% endfor %}
                                            </form>
                                                <!-- Button column -->
                                                    <button style="width: 20px; height:50px; margin:10px;" type="button" class="btn btn-primary btn-block"
                                                    data-toggle={% if request.user.is_authenticated %} "modal" {% else %} None {% endif %}
                                                    data-target={% if request.user.is_authenticated %}"#new-billing-info-modal"{% else %} None {% endif %}
                                                    >+</button>
                                         </div>
                                {% else %}
                                {% comment %} If no existing billing information, render the form to create a new one {% endcomment %}
                                        <div class="col-lg-9">
                                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input name="first_name-n" type="text" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                
                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input name="last_name-n" type="text" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->                
                
                                            <label>Street address *</label>
                                            <input name="street_address" type="text" class="form-control" placeholder="House number and Street name" required>
                
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>State *</label>
                                                    <input name="state-n" type="text" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                
                                                <div class="col-sm-6">
                                                    <label>City *</label>
                                                    <input name="city-n" type="text" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Email address *</label>
                                            <input type="email" name="email-n" class="form-control" required>

                                            <div class="row">
                                                {% comment %} <div class="col-sm-6">
                                                    <label>Postcode / ZIP *</label>
                                                    <input type="text" class="form-control" required>
                                                </div><!-- End .col-sm-6 --> {% endcomment %}
                
                                                <div class="col-sm-6">
                                                    <label>Phone *</label>
                                                    <input name="phone-n" type="tel" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                
                
                                            {% comment %} <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                                <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                                            </div><!-- End .custom-checkbox --> {% endcomment %}
                
                                            {% comment %} <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                                <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
                                            </div><!-- End .custom-checkbox --> {% endcomment %}
                
                                            <label>Order notes (optional)</label>
                                            <textarea name="notes-n" class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                            
                                            <div>
                                                <button
                                                    class="btn btn-primary btn-block mx-auto" 
                                                    hx-post = "{% url 'new_billing_info' %}"
                                                    hx-indicator = "#loadingModal"
                                                    hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
                                                    hx-target = '.delivery-info'
                                                    hx-vals = '{
                                                        "from_else_statement":true
                                                    }'
                                                >save</button>
                                            </div>
                        
                                        </div><!-- End .col-lg-9 -->
                                {% endif%}

                                        <aside class="col-lg-3">
                                            <div class="summary">
                                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                                <table class="table table-summary">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for order_item in order_items  %}
                                                            <tr>
                                                                <td><a href="{% url 'MAIN:product' order_item.product.pk %}">{{order_item.product.brand |capfirst}} {{order_item.product.name}}   ({{order_item.quantity}})</a></td>
                                                                <td style="flex: content;"> <div style="font-size: 0.7em; text-decoration: line-through;">N</div>{{order_item.line_total|intcomma}}</td>
                                                            </tr>                                        

                                                        {% endfor %}
                                                        {% comment %} <tr>
                                                            <td><a href="#">Beige knitted elastic runner shoes</a></td>
                                                            <td><div style="font-size: 0.7em; text-decoration: line-through;">N </div>-----</td>
                                                        </tr>

                                                        <tr>
                                                            <td><a href="#">Blue utility pinafore denimdress</a></td>
                                                            <td><div style="font-size: 0.7em; text-decoration: line-through;">N </div>-----</td>
                                                        </tr> {% endcomment %}
                                                        <tr class="summary-subtotal">
                                                            <td>Subtotal:</td>
                                                            <td><div style="font-size: 0.7em; text-decoration: line-through;">N </div>{{current_order.total_amount|intcomma}}</td>
                                                        </tr><!-- End .summary-subtotal -->
                                                        <tr>
                                                            <td>Shipping:</td>
                                                            <td>Free shipping</td>
                                                        </tr>
                                                        <tr class="summary-total">
                                                            <td>Total:</td>
                                                            <td><div style="font-size: 0.7em; text-decoration: line-through;">N </div>{{current_order.total_amount|intcomma}}</td>
                                                        </tr><!-- End .summary-total -->
                                                    </tbody>
                                                </table><!-- End .table table-summary -->

                                                <div class="accordion-summary" id="accordion-payment">
                                                    <div class="card">
                                                        <div class="card-header" id="heading-1">
                                                            <h2 class="card-title">
                                                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                                    Pay with Paystack
                                                                </a>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                                            <div class="card-body">
                                                                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->

                                                    {% comment %} PAYMENT OPTIONS {% endcomment %}
                                                    {% comment %} <div class="card">
                                                        <div class="card-header" id="heading-2">
                                                            <h2 class="card-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                                    Check payments
                                                                </a>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                                            <div class="card-body">
                                                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->

                                                    <div class="card">
                                                        <div class="card-header" id="heading-3">
                                                            <h2 class="card-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                                    Cash on delivery
                                                                </a>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->

                                                    <div class="card">
                                                        <div class="card-header" id="heading-4">
                                                            <h2 class="card-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                                    PayPal <small class="float-right paypal-link">What is PayPal?</small>
                                                                </a>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                                            <div class="card-body">
                                                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card --> {% endcomment %}

                                                    {% comment %} UNCOMMENT, VERY IMPORTANT {% endcomment %}
                                                    {% comment %} <div class="card">
                                                        <div class="card-header" id="heading-5">
                                                            <h2 class="card-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                                    Credit Card (Stripe)
                                                                    <img src="assets/images/payments-summary.png" alt="payments cards">
                                                                </a>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                            <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card --> {% endcomment %}
                                                </div><!-- End .accordion -->

                                                <button  class="btn btn-outline-primary-2 btn-order btn-block">
                                                    <span class="btn-text">Place Order</span>
                                                    <span class="btn-hover-text" onclick="payWithPaystack()">Proceed to Checkout</span>
                                                </button>
                                            </div><!-- End .summary -->
                                        
                                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
    const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);

function payWithPaystack(e) {
    console.log("I was clicked");
    e.preventDefault();

    let handler = PaystackPop.setup({
        key: '{{public_key}}', // Replace with your public key
        email: '{{user.email}}',
        amount: {{current_order.total_amount}} * 100,
        currency:"NGN",
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function(){
        alert('Window closed.');
        },
        callback: function(response){
        let message = 'Payment complete! Reference: ' + response.reference;
        alert(message);
        }
    });

    handler.openIframe();
    }

</script>
{% endblock content %}