{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}


{% block title %}Chirpy Stores{% endblock title %}

{% block content %}
<main class="main">

    <style>
        .intro-title{
            font-weight: bolder;
            font-size:4.5em
        }
        .product-title, .product-price,.new-price{
            font-weight: bold;
            font-size: 1.4em;

        }
        .product-price{
            font-size: 1.5em;
            color: red
        }
        .product-title a{
            color:black;

        }
        .product-title a:hover{
            color:burlywood;    
        }
        .old-price{
            text-decoration: line-through;
        }
        .new-price{
            color:red;
            font-size: larger;
        }
    </style>
    {% comment %} {% if messages %}
    <div class="alert alert-success">
        <ul class="list-unstyled">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} {% endcomment %}
    <div class="intro-slider-container mb-4">
        <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                "nav": false, 
                "dots": true,
                "responsive": {
                    "992": {
                        "nav": true,
                        "dots": false
                    }
                }
            }'>
            <div class="intro-slide" style="background-image: url({% static '/assets/images/demos/demo-11/slider/slide-1.jpg'%});">
                <div class="container intro-content">
                    {% comment %} <h3 class="intro-subtitle " style="color:lightgreen; font-weight: bold; font-family:cursive; font-size: 1.2em; ">SEASONAL PICKS</h3><!-- End .h3 intro-subtitle --> {% endcomment %}
                    <h1 class="intro-title" style="font-family:Ubuntu; font-weight: bold; color:darkgreen;margin-top: 0; font-size: 7em;">GET ALL <br>THE GOOD STUFF</h1><!-- End .intro-title -->

                    <a href="category.html" class="btn btn-outline-primary-2 " style="background-color: #333333;">
                        <span>Discover More</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->

            <div class="intro-slide" style="background-image: url({% static '/assets/images/demos/demo-11/slider/slide-2.jpg'%});">
                <div class="container intro-content">
                    <h3 class="intro-subtitle text-primary">all at 50% off</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">The Most Beautiful <br>Novelties In Our Shop</h1><!-- End .intro-title -->

                    <a href="category.html" class="btn btn-outline-primary-2 min-width-sm" style="background-color: #333333;">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->

    <div class="container">
        <div class="toolbox toolbox-filter">
            <div class="toolbox-left">
                <a href="#" class="filter-toggler">Filters</a>

            </div><!-- End .toolbox-left -->
            <div class="toolbox-right">
                <ul class="nav-filter product-filter">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".furniture">Furniture</a></li>
                    <li><a href="#" data-filter=".lighting">Lighting</a></li>
                    <li><a href="#" data-filter=".accessories">Accessories</a></li>
                    <li><a href="#" data-filter=".sale">Sale</a></li>
                </ul>
            </div><!-- End .toolbox-right -->
        </div><!-- End .filter-toolbox -->

        <div class="widget-filter-area" id="product-filter-area">
            <a href="#" class="widget-filter-clear">Clean All</a>

            <div class="filter-area-wrapper">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget-title">
                                Category:
                            </h3><!-- End .widget-title -->

                            <div class="filter-items filter-items-count">
                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cat-1">
                                        <label class="custom-control-label" for="cat-1">All</label>
                                    </div><!-- End .custom-checkbox -->
                                    <span class="item-count">24</span>
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cat-2">
                                        <label class="custom-control-label" for="cat-2">Furniture</label>
                                    </div><!-- End .custom-checkbox -->
                                    <span class="item-count">3</span>
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cat-3">
                                        <label class="custom-control-label" for="cat-3">Lighting</label>
                                    </div><!-- End .custom-checkbox -->
                                    <span class="item-count">2</span>
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cat-4">
                                        <label class="custom-control-label" for="cat-4">Accessories</label>
                                    </div><!-- End .custom-checkbox -->
                                    <span class="item-count">4</span>
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cat-5">
                                        <label class="custom-control-label" for="cat-5">Sale</label>
                                    </div><!-- End .custom-checkbox -->
                                    <span class="item-count">2</span>
                                </div><!-- End .filter-item -->
                            </div><!-- End .filter-items -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget-title">
                                Sort by:
                            </h3><!-- End .widget-title -->

                            <div class="filter-items">
                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" checked id="sort-1" name="sortby">
                                        <label class="custom-control-label" for="sort-1">Default</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-2" name="sortby">
                                        <label class="custom-control-label" for="sort-2">Popularity</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-3" name="sortby">
                                        <label class="custom-control-label" for="sort-3">Average Rating</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-4" name="sortby">
                                        <label class="custom-control-label" for="sort-4">Newness</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-5" name="sortby">
                                        <label class="custom-control-label" for="sort-5">Price: Low to High</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-6" name="sortby">
                                        <label class="custom-control-label" for="sort-6">Price: High to Low</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->
                            </div><!-- End .filter-items -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget-title">
                                Colour:
                            </h3><!-- End .widget-title -->

                            <div class="filter-colors filter-colors-vertical">
                                <a href="#" style="background: #b87145;"><span>Brown</span></a>
                                <a href="#" style="background: #f0c04a;"><span>Yellow</span></a>
                                <a href="#" style="background: #333333;"><span>Black</span></a>
                                <a href="#" class="selected" style="background: #cc3333;"><span>Red</span></a>
                                <a href="#" style="background: #ebebeb;"><span>White</span></a>
                            </div><!-- End .filter-colors -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget-title">
                                Price:
                            </h3><!-- End .widget-title -->

                            <div class="filter-price">
                                <div class="filter-price-text">
                                    Price Range:
                                    <span id="filter-price-range"></span>
                                </div><!-- End .filter-price-text -->

                                <div id="price-slider"></div><!-- End #price-slider -->
                            </div><!-- End .filter-price -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .filter-area-wrapper -->
        </div><!-- End #product-filter-area.widget-filter-area -->
        
        <div class="products-container" >
            {% for product in products %}
            <div class="product-item {% for category in product.category.all %}{{category|lower}}{% endfor %}  {% if product.old_price %}sale{% endif %} col-6 col-md-4 col-lg-3">
                <div class="product product-4">
                    <figure class="product-media">
                        {% if product.old_price %}
                        <span class="product-label">Sale</span>
                        {% endif %}
                        <a href="{% url 'MAIN:product' product.pk %}">
                            <img src="{{product.image.url}}" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div><!-- End .product-action -->

                        <div class="product-action">
                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <h3 class="product-title"><a href="product.html">{{product.name}}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            {% if product.quantity_available > 0 %} 
                                <span class="new-price" style="display: flex; flex-direction: row;"> <div style="font-size: 0.5em; text-decoration: line-through;">N </div>{{product.price | intcomma}}</span>
                                {% if product.old_price %}
                                    <span class="old-price" style="display: flex; flex-direction: row;"> <div style="font-size: 0.5em; text-decoration: line-through;">N </div>{{product.old_price | intcomma}}</span>
                                {% endif %}
                            {% else%} 
                                <div style="font-weight: bold; ">
                                    <p>OUT OF STOCK</p>
                                </div>
                            {% endif %}

                        </div><!-- End .product-price -->
                        <div class="product-nav product-nav-dots">
                            <a href="#" class="active" style="background: #333333;"><span class="sr-only">Color name</span></a>
                            <a href="#" style="background: #a48264;"><span class="sr-only">Color name</span></a>
                        </div><!-- End .product-nav -->

                        {% comment %} Add to cart button {% endcomment %}
                        {% if product.quantity_available > 0 %} 
                        <div class="product-details-action" 
                                hx-post="/add_to_cart" 
                                hx-target= {% if request.user.is_authenticated %} "#cart-count" {% else %} ".body" {% endif %}
                                hx-trigger="click" 
                                hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
                                hx-replace-url = {% if request.user.is_authenticated %} 'false' {% else %} 'true' {% endif %}
                                hx-push-url = {% if request.user.is_authenticated %} 'false' {% else %} 'true' {% endif %}
                                hx-vals='js:{ quantity: 1,product:{{product.pk}}}'
                                hx-require="authenticated"
                                style="cursor: pointer;"
                                data-toggle={% if request.user.is_authenticated %} "modal" {% else %} None {% endif %}
                                data-target={% if request.user.is_authenticated %}"#added-to-cart-modal"{% else %} None {% endif %}>

                                    <span class="btn-product btn-cart" style="border: none;">add to cart</span>
                            </div>
                        {% else%} 
                            <div style="margin-bottom:37px ;" class="product-details-action">
                            </div>
                        {% endif %}

                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .product-item -->
            {% endfor %}
  
        </div><!-- End .products-container -->
    </div><!-- End .container -->

    <div class="more-container text-center mt-0 mb-7">
        <a href="category.html" class="btn btn-outline-dark-3 btn-more"><span>more products</span><i class="la la-refresh"></i></a>
    </div><!-- End .more-container -->
</main><!-- End .main -->
{% endblock content %}
